h1:contains("The Beauty of CSS Design") {
  font-family: "Dancing Script", cursive !important; }

h2, h3, h4 {
  font-family: "Dancing Script", cursive !important;
  margin: 5px;
  border-bottom: solid 2px transparent;
  border-radius: 2%;
  position: relative;
  padding-bottom: 10px; }
  h2::after, h3::after, h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #042d0d, rgba(255, 255, 255, 0));
    pointer-events: none;
    z-index: 1;
    animation: grow-animation 2s ease-in-out infinite alternate; }
@keyframes grow-animation {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
h3::after, h4::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  border-bottom: 2px dashed #fff;
  animation: pulse-animation 2s infinite alternate; }
@keyframes pulse-animation {
  0% {
    width: 100%; }
  100% {
    width: 0; } }
h1 {
  background: #ce7604;
  color: #fff;
  display: inline-block;
  font-weight: normal;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><defs><filter id="dropshadow" height="130%"><feGaussianBlur in="SourceAlpha" stdDeviation="2"/><feOffset dx="1" dy="1" result="offsetblur"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/></feMerge></filter></defs></svg>#dropshadow'); }

h2 {
  color: #fff;
  font-weight: 900;
  font-size: 6em;
  letter-spacing: 1px;
  line-height: 1em; }

h3 {
  font-size: 2.25em;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0; }

h4 {
  font-family: "Dancing Script", cursive !important;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0; }

p {
  font-family: "Roboto Condensed", san serif !important;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0; }

a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  position: relative; }
  a::before, a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out; }
  a:hover::before, a:hover::after {
    visibility: visible;
    transform: scaleX(1); }
  a::before {
    background-color: #d97f25; }
  a::after {
    background-color: #17cba7; }

.summary {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 5% 0;
  position: relative; }
  .summary::after {
    content: url("../image/fallleaves.gif");
    position: absolute;
    bottom: -20px;
    right: 0; }

.preamble, .explanation, .participation, .benefits, .requirements {
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
  margin-bottom: 70px;
  margin-right: 30px;
  max-width: calc(100% - 340px); }

.explanation:nth-child(even), .participation:nth-child(even), .benefits:nth-child(even), .requirements:nth-child(even) {
  background: #ce7604;
  color: #fff;
  transform: rotate(-3deg);
  margin-top: 50px;
  z-index: 2; }

.preamble, .explanation:nth-child(odd), .participation:nth-child(odd), .benefits:nth-child(odd), .requirements:nth-child(odd) {
  background: #61120A;
  color: #fff;
  transform: rotate(3deg);
  margin-bottom: 50px;
  z-index: 2; }

.preamble {
  background: #ce7604;
  color: #fff;
  transform: rotate(-3deg);
  margin-bottom: 100px; }

.explanation {
  margin-top: 80px; }

* {
  box-sizing: border-box; }

html {
  background-image: url("../image/garden.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 5%;
  background-color: transparent;
  max-width: 1030px;
  margin: 0 auto; }

body {
  font-family: "Roboto Condensed", sans serif !important;
  font-size: 85%;
  color: #fff;
  background-color: rgba(4, 95, 73, 0.85);
  padding: 5px; }

.sidebar {
  position: fixed;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  background-color: #ce7604;
  padding: 10px;
  padding-bottom: 30px;
  padding-right: 20px;
  border: 1px solid #5a0101;
  color: #003300;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><defs><filter id="dropshadow" height="130%"><feGaussianBlur in="SourceAlpha" stdDeviation="2"/><feOffset dx="1" dy="1" result="offsetblur"/><feMerge><feMergeNode/><feMergeNode in="SourceGraphic"/></feMerge></filter></defs></svg>#dropshadow'); }
  .sidebar::after {
    content: '';
    position: absolute;
    bottom: -12px;
    right: -12px;
    left: -12px;
    top: -12px;
    background-color: white;
    z-index: -1;
    border-radius: 15px; }
  .sidebar::before {
    content: '';
    position: absolute;
    bottom: -20px;
    right: -20px;
    left: -20px;
    top: -20px;
    background-color: #ce7604;
    z-index: -2;
    border-radius: 15px; }
  .sidebar * {
    background-color: white;
    color: #003300;
    margin-bottom: 20px;
    position: relative;
    z-index: 1; }

.page-wrapper {
  padding: 5%; }

ul {
  list-style-type: none;
  padding-left: 0; }

ul li {
  background-image: url(images/flower-3205083_640.png);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 0 center;
  padding-left: 30px;
  margin-top: 5%; }

p {
  width: 80%;
  margin: 0 auto;
  line-height: 2em; }

footer {
  background-color: #003300;
  color: #ffffff;
  padding: 20px;
  text-align: center; }
  footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px; }
    footer a:hover {
      text-decoration: underline; }

<<<<<<< HEAD
/* @media only screen and (min-width: 1000px) and (max-width: 1051px) {
  h2:first-of-type {
    font-size: 30px; }
=======
/* For medium views (tablets, etc.) */
@media screen and (max-width: 1024px) {
  body {
    padding: 10px; }
>>>>>>> cc162391b4ea0b6bd41091dffe9235c7e953e86d

  h1 {
    font-size: 2.5em;
    margin-bottom: 0.75em; }

  h2 {
    font-size: 2.75em; }

  h3 {
    font-size: 2em; }

  h4 {
    font-size: 1.5em; }

  .preamble, .explanation, .participation, .benefits, .requirements {
    margin-right: 0;
    max-width: 100%;
    padding: 20px;
    margin-bottom: 25px; }

  .sidebar {
    position: static;
    transform: none;
    margin-top: 25px;
    background-color: #ce7604;
    padding: 15px;
    border-radius: 10px; }

  .design-selection, .design-archives, .zen-resources {
    margin-bottom: 25px; } }
/* For small views (small tablets, large phones) */
@media screen and (max-width: 772px) {
  html {
    padding: 2%; }

  body {
    font-size: 100%;
    padding: 2px; }

  h1 {
    font-size: 2em;
    margin-bottom: 0.5em; }

  h2 {
    font-size: 2.5em; }

  h3 {
    font-size: 1.75em; }

  h4 {
    font-size: 1.25em; }

  .preamble, .explanation, .participation, .benefits, .requirements {
    margin-right: 0;
    max-width: 100%;
    padding: 15px;
    margin-bottom: 20px; }

  .sidebar {
    position: static;
    transform: none;
    margin-top: 20px;
    background-color: #ce7604;
    padding: 10px;
    border-radius: 10px; }

  .design-selection, .design-archives, .zen-resources {
    margin-bottom: 20px; } }
/* For smaller views (phones, etc.) */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.75em; }

  h2 {
    font-size: 2em; }

  h3 {
    font-size: 1.5em; }

  h4 {
    font-size: 1em; }

  .sidebar {
<<<<<<< HEAD
    top: 40%;
    right: 20px; } } */


  /* For medium views (tablets, etc.) */
@media screen and (max-width: 1024px) {
  /* Adjust body padding */
  body {
    padding: 10px;
  }

  /* Adjust font sizes for headers */
  h1 {
    font-size: 2.5em;
    margin-bottom: 0.75em;
  }

  h2 {
    font-size: 2.75em;
  }

  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 1.5em;
  }

  /* Adjust padding and margin for sections */
  .preamble,
  .explanation,
  .participation,
  .benefits,
  .requirements {
    margin-right: 0;
    max-width: 100%;
    padding: 20px;
    margin-bottom: 25px;
  }

  /* Adjust sidebar position */
  .sidebar {
    position: static;
    transform: none;
    margin-top: 25px;
    background-color: #ce7604; 
    padding: 15px;
    border-radius: 10px;
  }

  .design-selection,
  .design-archives,
  .zen-resources {
    margin-bottom: 25px;
  }
}

/* For small views (small tablets, large phones) */
@media screen and (max-width: 772px) {
  /* Adjust html padding */
  html {
    padding: 2%;
  }

  /* Adjust body font size */
  body {
    font-size: 100%;
    padding: 2px;
  }

  /* Adjust font sizes for headers */
  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.25em;
  }

  /* Adjust padding and margin for sections */
  .preamble,
  .explanation,
  .participation,
  .benefits,
  .requirements {
    margin-right: 0;
    max-width: 100%;
    padding: 15px;
    margin-bottom: 20px;
  }

  /* Adjust sidebar position */
  .sidebar {
    position: static;
    transform: none;
    margin-top: 20px;
    background-color: #ce7604; 
    border-radius: 10px;
  }

  .design-selection,
  .design-archives,
  .zen-resources {
    margin-bottom: 20px;
  }
}

/* For smaller views (phones, etc.) */
@media screen and (max-width: 480px) {
  /* Adjust font sizes for headers */
  h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1em;
  }

  /* Adjust sidebar padding */
  .sidebar {
    padding: 5px;
  }

  /* Adjust section padding and margin */
  .preamble,
  .explanation,
  .participation,
  .benefits,
  .requirements {
    padding: 10px;
    margin-bottom: 15px;
  }
}



=======
    padding: 5px; }

  .preamble, .explanation, .participation, .benefits, .requirements {
    padding: 10px;
    margin-bottom: 15px; } }
>>>>>>> cc162391b4ea0b6bd41091dffe9235c7e953e86d

/*# sourceMappingURL=style.css.map */
